//
// Options
//

$enable-shadows: true;

//
// Colors
//

$white: #ffffff;
$gray-100: #f8fafc;
$gray-200: #f1f5f8;
$gray-300: #dae1e7;
$gray-400: #b8c2cc;
$gray-500: #8795a1;
$gray-600: #606f7b;
$gray-700: #3d4852;
$gray-800: #22292f;
$gray-900: #212529;
$black: #000000;

$grays: (
  '100': $gray-100,
  '200': $gray-200,
  '300': $gray-300,
  '400': $gray-400,
  '500': $gray-500,
  '600': $gray-600,
  '700': $gray-700,
  '800': $gray-800,
  '900': $gray-900
);

$blue-light: #44a8d6;
$blue: #0088d8;
$blue-dark: #06367a;
$indigo: #06367a;
$purple: #5d83f3;
$pink: #f35dbf;
$red: #f33155;
$orange: #fd7e14;
$yellow: #ffb400;
$green: #17c671;
$teal: #20c997;
$cyan: #17a2b8;

$colors: (
  'blue-light': $blue-light,
  'blue': $blue,
  'blue-dark': $blue-dark,
  'indigo': $indigo,
  'purple': $purple,
  'pink': $pink,
  'red': $red,
  'orange': $orange,
  'yellow': $yellow,
  'green': $green,
  'teal': $teal,
  'cyan': $cyan,
  'white': $white,
  'gray': $gray-500,
  'gray-dark': $gray-700
);

$brand: $purple;
$primary: $blue;
$secondary: $gray-500;
$neutral: $blue-dark;
$success: $green;
$info: $blue-light;
$warning: $yellow;
$danger: $red;
$accent: $pink;
$light: $white;
$dark: $gray-800;

$theme-colors: (
  'brand': $brand,
  'primary': $primary,
  'secondary': $secondary,
  'neutral': $neutral,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'accent': $accent,
  'light': $light,
  'dark': $dark
);

$body-bg: #f5f6fa;
$body-color: $gray-800;

$component-active-bg: $brand;

//
// Typography
//

$font-family-sans-serif: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
$font-icon: 'Font Awesome 5 Free';

// base font-size (in px) is defined in _typography.scss
$text-xs: 0.8571rem;
$text-sm: 0.9286rem;
$text-base: 1rem;
$text-md: 1.143rem;
$text-lg: 1.286rem;
$text-xl: 1.429rem;

$text-sizes: (
  'xs': $text-xs,
  'sm': $text-sm,
  'md': $text-md,
  'lg': $text-lg,
  'xl': $text-xl
);

$font-size-base: 1rem;
$font-size-lg: $text-lg;
$font-size-sm: $text-sm;

// because the project uses only these 2 weights
$font-weight-light: 400;
$font-weight-normal: 400;
$font-weight-bold: 600;

$h1-font-size: $text-xl;
$h2-font-size: $text-lg;
$h3-font-size: $text-md;
$h4-font-size: $text-base;
$h5-font-size: $text-sm;
$h6-font-size: $text-xs;

$headings-font-weight: 400;

// 1, 2 and 3 are defined by bootstrap
$display4-size: 1.857rem;

$display1-weight: 400;
$display2-weight: 400;
$display3-weight: 400;
$display4-weight: 400;

$lead-font-size: $text-xl;
$lead-font-weight: 400;

$small-font-size: $text-xs;

$text-muted: $gray-500;

//
// Spacing
//

$spacer: 8px;
$spacers: (
  0: 0,
  '05': $spacer / 2,
  1: $spacer,
  2: $spacer * 2,
  3: $spacer * 3,
  4: $spacer * 4,
  5: $spacer * 5,
  6: $spacer * 6,
  7: $spacer * 7,
  8: $spacer * 8,
  9: $spacer * 9,
  10: $spacer * 10
);

//
// Sizes
//

$sizes: (
  30: 30%,
  50: 50%,
  70: 70%,
  85: 85%,
  100: 100%
);

//
// Grid breakpoints
//

$grid-breakpoints: (
  'xs': 0,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1280px
);

//
// Grid containers
//

$container-max-widths: (
  'sm': 540px,
  'md': 720px,
  'lg': 960px,
  'xl': 1220px
);

//
// Icons
//

$icon-xxs: 0.7143rem;
$icon-xs: 0.8571rem;
$icon-sm: 0.9286rem;
$icon-base: 1rem;
$icon-md: 1.143rem;
$icon-lg: 1.286rem;
$icon-xl: 1.429rem;

$icon-sizes: (
  'xxs': $icon-xxs,
  'xs': $icon-xs,
  'sm': $icon-sm,
  'md': $icon-md,
  'lg': $icon-lg,
  'xl': $icon-xl
);

//
// Components
//

$sidebar-width: 200px;
$border-radius: 0.2143rem;
$border-color: $gray-300;

//
// Cards
//

$card-spacer-y: $spacer * 3;
$card-spacer-x: $spacer * 3;
$card-border-color: transparent;

//
// Navs
//

$nav-link-padding-y: 0.5714rem;
$nav-link-padding-x: 1.143rem;

$nav-pills-link-active-color: $gray-700;
$nav-pills-link-active-bg: $white;

$navbar-toggler-font-size: $font-size-base;

//
// Dropdowns
//

$dropdown-min-width: $spacer * 13;
$dropdown-padding-y: 0px;
$dropdown-spacer: $spacer * 2;
$dropdown-border-color: $gray-300;
$dropdown-divider-bg: $gray-300;
$dropdown-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);

$dropdown-link-color: $gray-800;
$dropdown-link-hover-color: darken($gray-800, 5%);
$dropdown-link-hover-bg: $gray-100;
$dropdown-link-active-color: $gray-800;
$dropdown-link-active-bg: rgba($body-bg, 0.5);
$dropdown-link-disabled-color: $gray-500;

$dropdown-item-padding-y: $spacer;
$dropdown-item-padding-x: $spacer * 2;

//
// Buttons
//

$btn-padding-y: 0.215rem;
$btn-padding-x: 1.143rem;

$btn-padding-x-sm: 0.8571rem;

$btn-padding-y-lg: 0.429rem;
$btn-padding-x-lg: 1.143rem;

//
// Pagination
//

$pagination-padding-y: $btn-padding-y;
$pagination-padding-y-lg: $btn-padding-y-lg;
$pagination-line-height: 1.5;

$pagination-color: $gray-700;
$pagination-hover-color: $black;
$pagination-hover-bg: $gray-100;

$pagination-disabled-color: $gray-500;
$pagination-disabled-bg: $gray-200;

//
// Forms
//

$input-btn-focus-width: 0.12rem;

$input-padding-y: 0.358rem;
$input-padding-y-sm: 0.143rem;
$input-padding-y-lg: 0.393rem;

$input-disabled-bg: rgba($body-bg, 0.6);

$input-color: $gray-800;
$input-border-color: $gray-300;
$input-box-shadow: 0px 1px 3px rgba($neutral, 0.04);

$input-placeholder-color: $gray-400;

$form-group-margin-bottom: $spacer * 2;

$custom-file-color: $input-placeholder-color;
$custom-file-button-color: $input-color;
$custom-file-button-bg: $gray-200;

$input-group-addon-color: $gray-500;
$input-group-addon-bg: $gray-100;

$custom-control-indicator-bg: $white;
$custom-control-indicator-bg-size: 60% 60%;
$custom-control-indicator-box-shadow: $input-box-shadow;
$custom-control-indicator-checked-bg: $primary;

$custom-select-indicator-color: $neutral;
$custom-select-indicator: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='#{$custom-select-indicator-color}' d='M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z'/%3E%3C/svg%3E"), "#", "%23");

//
// Thumbnail
//

$thumbnail-sizes: (
  'xs': $spacer * 3,
  'sm': $spacer * 4,
  'md': $spacer * 7,
  'lg': $spacer * 10,
  'xl': $spacer * 15
);

//
// Tables
//

$table-cell-padding: 1.142rem;

$table-accent-bg: rgba($body-bg, 0.45);
$table-hover-bg: $table-accent-bg;
$table-active-bg: rgba($body-bg, 0.65);

$table-border-color: $gray-200;
