<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="startupkit.design">

  <title>Quantum - A design system built on top of bootstrap by startupkit.design</title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
</head>
<body>
  <div class="container py-5 vh-100 d-flex align-items-center justify-content-center">
    <div class="row w-100 mb-sm-10">
      <div class="col col-sm-9 col-md-7 col-lg-5 col-xl-4 mx-auto">
        <div class="card border-0">
          <header class="my-4">
            <h1 class="text-md text-center">
              <span class="text-black border-bottom border-accent">Quantum</span>
            </h1>
          </header>
          <div class="mb-1 py-2 text-center bg-muted border-top border-bottom border-muted">
            <img
              src="../images/avatar.jpg"
              class="d-block mx-auto mb-1 thumbnail rounded-circle"
              alt="Alexander Dunn's avatar"
            >
            <span>Alexander Dunn</span>
          </div>
          <div class="card-body">
            <form action="#" method="POST">
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password">
              </div> <!-- end of form-group -->

              <button type="button" class="btn btn-block btn-brand mt-3 mb-1">Unlock</button>
            </form>
          </div> <!-- end of card-body -->
        </div> <!-- end of card -->
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</body>
</html>
