<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="startupkit.design">

  <title>Quantum - A design system built on top of bootstrap by startupkit.design</title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
</head>
<body>
  <div class="container py-5 vh-100 d-flex align-items-center justify-content-center">
    <div class="row w-100 mb-sm-10">
      <div class="col col-sm-9 col-md-7 col-lg-5 col-xl-4 mx-auto">
        <div class="card border-0">
          <div class="card-body">
            <header class="mt-1 mb-6">
              <h1 class="text-md text-center">
                <span class="text-black border-bottom border-accent">Quantum</span>
              </h1>
            </header>
            <form action="#" method="POST">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email">
              </div> <!-- end of form-group -->
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password">
              </div> <!-- end of form-group -->

              <div class="d-flex align-items-center justify-content-between">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="rememberMe">
                  <label class="custom-control-label" for="rememberMe">Remember me</label>
                </div> <!-- end of custom-checkbox -->
                <a href="#0" class="text-xs text-muted">Forgot password?</a>
              </div> <!-- end of d-flex -->

              <button type="button" class="btn btn-block btn-brand mt-4 mb-1">Login</button>
            </form>
          </div> <!-- end of card-body -->
          <footer class="py-2 bg-muted border-top border-muted text-center">
            <a href="/register" class="text-xs text-muted">Don't have an account yet? <strong>Sign up</strong></a>
          </footer>
        </div> <!-- end of card -->
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</body>
</html>
